version: "3.9"

services:
  web:
    build: .
    container_name: speedy_app
    ports:
      - 8000:8000
    depends_on:
      - db
    links:
      - db
    volumes:
      - .:/code
    env_file: .env
    command: python manage.py runserver 0.0.0.0:8000
    networks:
      - default

  db:
    image: postgres:14
    container_name: speedy_db
    volumes:
      - postgres_data:/var/lib/postgresql/data/
    env_file: .env
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - 5432:5432
    networks:
      - default

volumes:
  postgres_data:

networks:
  default:
