asgiref==3.8.1
certifi==2025.1.31
channels==4.0.0
charset-normalizer==3.4.1
Django==3.2.25
django-3-jet==1.0.8
django-cors-headers==4.3.1
django-extensions==3.2.3
djangorestframework==3.14.0
gunicorn==23.0.0
idna==3.10
openpyxl==3.1.2
Pillow==10.2.0
PyMySQL==1.1.0
whitenoise==6.6.0
packaging==24.2
python-dotenv==1.0.1
pytz==2025.1
requests==2.32.3
six==1.17.0
sqlparse==0.5.3
stripe==11.6.0
twilio==8.10.3
typing-extensions==4.12.2
urllib3==2.3.0
paypalrestsdk==1.13.1
dj-database-url==2.1.0
daphne==4.0.0
