{% load static %}

<div class="navbar bg-base-100">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16" />
        </svg>
      </div>
      <ul tabindex="0" class="menu menu-sm dropdown-content bg-base-100 rounded-box z-[1] mt-3 w-52 p-2 shadow">
        <li>
          <a href="#destinos"
            class="btn font-bold border-none shadow-none bg-transparent hover:bg-[#4abbc1] hover:text-white active:bg-[#047884] transition-all">
            Destinations
          </a>
        </li>
        <li>
          <a href="#servicios"
            class="btn font-bold border-none shadow-none bg-transparent hover:bg-[#4abbc1] hover:text-white active:bg-[#047884] transition-all">
            Services
          </a>
        </li>
        <li>
          <a href="#nosotros"
            class="btn font-bold border-none shadow-none bg-transparent hover:bg-[#4abbc1] hover:text-white active:bg-[#047884] transition-all">
            About Us
          </a>
        </li>
        <li>
          <a href="#testimonios"
            class="btn font-bold border-none shadow-none bg-transparent hover:bg-[#4abbc1] hover:text-white active:bg-[#047884] transition-all">
            Testimonials
          </a>
        </li>
        <li>
          <a href="#contactanos"
            class="btn font-bold border-none shadow-none bg-transparent hover:bg-[#4abbc1] hover:text-white active:bg-[#047884] transition-all">
            Contact Us
          </a>
        </li>
        
      </ul>
    </div>
    <a href="{% url 'core:home_view' %}" class="btn btn-ghost text-xl w-64"><img
        src="{% static 'images/Copia-de-logos-Mesa-de-trabajo-1-02.png' %}" alt="Logo de Speedy Transfers"></a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 font-bold">
      <li><a href="#destinos"
          class="btn font-bold border-none shadow-none bg-transparent hover:bg-[#4abbc1] hover:text-white active:bg-[#047884]">Destinations</a>
      </li>
      <li><a href="#servicios"
          class="btn font-bold border-none shadow-none bg-transparent hover:bg-[#4abbc1] hover:text-white active:bg-[#047884]">Services</a>
      </li>
      <li><a href="#nosotros"
          class="btn font-bold border-none shadow-none bg-transparent hover:bg-[#4abbc1] hover:text-white active:bg-[#047884]">About
          Us</a></li>
      <li><a href="#testimonios"
          class="btn font-bold border-none shadow-none bg-transparent hover:bg-[#4abbc1] hover:text-white active:bg-[#047884]">Testimonials</a>
      </li>
      <li><a href="#contactanos"
          class="btn font-bold border-none shadow-none bg-transparent hover:bg-[#4abbc1] hover:text-white active:bg-[#047884]">Contact
          Us</a></li>
      
    </ul>
  </div>
  <div class="navbar-end">
    <a href="{% url 'core:home_view' %}#fechas" class="btn bg-[#4abbc1] hover:bg-[#047884] leading-[21px] gap-[10px] border-none text-white px-[28px] py-[12px]">Find a Transfer</a>
    
  </div>
</div>