{% load static %}

<section id="nosotros" class="my-16">
  <div class="hero bg-[#FFF] text-black">
    <div class="hero-content flex-col gap-[3rem] xl:flex-row lg:gap-x-20 xl:gap-x-40">
      <div class="max-w-xl">
        <div class="relative">
          <span class="absolute inset-0 text-[60px] md:text-[96px] text-[#E5E5E5] font-bold flex items-center justify-self-start bottom-[3rem] opacity-50 z-0">Who we are</span>
          <p class="text-3xl md:text-5xl font-bold relative z-10 text-gray-800">Who are We</p>
        </div>
        <p class="text-lg leading-[27px] py-6 text-justify">At Speedy Transfers, we are dedicated to providing safe, reliable, and comfortable private transportation in Puerto Vallarta. With a team of professional drivers and a fleet of top-quality vehicles, we ensure a hassle-free travel experience for tourists and locals alike. Our mission is to deliver punctual and personalized service, making every journey smooth and enjoyable. Let us take you where you need to go with the care and efficiency you deserve.</p>
        <a href="#contactanos" class="btn bg-[#4abbc1] hover:bg-[#047884] rounded-[4px] border-0 text-white text-[16px] sm:w-64 w-full">Contact Us for special requests</a>
      </div>
      <div class="relative">
        <img src="{% static 'images/nosotros.png' %}" class="lg:max-w-lg rounded-lg" />
      </div>
    </div>
  </div>
</section>
