{% load static %}

<section id="servicios" class="my-16">
    <div class="bg-white max-h-max flex items-center justify-center my-16">
        <div class="w-full">
            <div class="mb-10 relative">
                <span class="absolute inset-0 text-[60px] md:text-[96px] text-[#E5E5E5] font-bold flex items-center justify-self-start bottom-[3rem] left-4 opacity-50 z-0">
                    Services
                </span>
                <!-- Texto principal (Available Destinations) -->
                <p class="text-2xl md:text-5xl font-bold relative z-10 text-gray-800">
                    Our Transportation Services
                </p>
            </div>

            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-5">
                <!-- Imagen 1 -->
                <div class="relative col-span-1 lg:col-span-3 w-full h-80 lg:80 rounded-[5px]">
                    <img src="{% static 'images/servicios1.jpeg' %}" alt="Puerto Vallarta Airport Transfers" class="w-full h-full object-cover rounded-[5px]">
                    <p class="absolute bottom-2 left-2 text-white sm:text-lg md:text-[32px] md:leading-[48px] px-2 py-1 rounded">Puerto Vallarta Airport Transfers</p>
                </div>

                <!-- Imagen 2 -->
                <div class="relative col-span-1 lg:col-span-2 w-full h-80 lg:80">
                    <img src="{% static 'images/servicios2.jpeg' %}" alt="Private Transfers" class="w-full h-full object-cover rounded-[5px]">
                    <p class="absolute bottom-2 left-2 text-white sm:text-lg md:text-[32px] md:leading-[48px] px-2 py-1 rounded">Private Transfers</p>
                </div>

                <!-- Imagen 3 -->
                <div class="relative col-span-1 lg:col-span-2 w-full h-80 lg:80">
                    <img src="{% static 'images/servicios3.jpeg' %}" alt="Private Driver" class="w-full h-full object-cover rounded-[5px]">
                    <p class="absolute bottom-2 left-2 text-white sm:text-lg md:text-[32px] md:leading-[48px] px-2 py-1 rounded">Private Driver</p>
                </div>

                <!-- Imagen 4 -->
                <div class="relative col-span-1 lg:col-span-3 w-full h-80 lg:80">
                    <img src="{% static 'images/servicios4.jpeg' %}" alt="Group Transfers in Puerto Vallarta" class="w-full h-full object-cover rounded-[5px]">
                    <p class="absolute bottom-2 left-2 text-white sm:text-lg md:text-[32px] md:leading-[48px] px-2 py-1 rounded">Group Transportation for Weddings</p>
                </div>
            </div>
        </div>
    </div>
</section>

